
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fc8019;
    color: white;
    position: fixed;
    z-index: 2;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    font-size: 22px;
}
nav ul li a{
    cursor: pointer;
}
#top-logo img{
    width: 110px;
    height: 78px;

}
#top-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cart{
    display: flex;
    width: 95px;
    font-size: 22px;
    justify-content: space-evenly;
    background-color: white;
    color: #fc8019;
    align-items: center;
    margin-right: 10px;
    height: 35px;
    border-radius: 13px;
    cursor: pointer;
    transition: .3s ease;
}
.cart:hover{
    transform: scale(1.06);
}
#home{
    padding-top: 95px;
}
#menu-container{
    width: 100%;

}
#item-menu{
    font-size: 40px;
    color: coral;
    font-family: 'DM Serif Display', serif;
    margin: 10px;
    
}
.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.listitem{
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}
.linkitem img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: .3s ease;
}
.linkitem img:hover{
    transform: scale(1.04);
}
.linkitem h3{
    color: coral;
}
#dropdown-menu{
    height: 0;
    width: 0;
}
.img-box img{
    width: 135px;
    height: 135px;
    margin: 20px 30px;
    border-radius: 79px;
    transition: .3s ease;
}
.img-box img:hover{
    transform: scale(1.06);

}
#root{
    width:100%;
    display:flex;
    flex-direction:column;
    overflow: auto;
    height:55vh;
    overflow: auto;
    top: 300px;
    position: fixed;
    background-color: snow;
    
    
}
.category-name{
    font-family: 'DM Serif Display', serif;
    color: coral;
    font-size: 38px;
    margin: 10px;

}
#biryani-box,#chicken-box,#paneer-box,#vegetable-box,#chinese-box,#south-box{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(253, 221, 226);
    margin: 10px 20px;
    border-radius: 10px;
}
.bottom p{
    font-size: 18px;
    margin: 10px;
}
button{
    font-size: 19px;
    margin: 14px;
    color: white;
    background: coral;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    cursor: pointer;
    transition: .3s ease;
}
button:hover{
    background-color: rgb(114, 103, 98);

}
#bottom{
    position: relative;
    top: 100vh;
    background: white;

}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;


}
#about h1{
    margin: 30px;

}
#about-content{
    font-size: 18px;
    margin: 18px;

}
.about-card{
    display: flex;
    justify-content: space-evenly;

}
.card-img{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 2px solid coral;
    border-radius: 15px;
    margin: 5px 35px;

}
.card-img img{
    width: 90%;
    height: 90%;
    margin-top: 10px;
    border-radius: 10px;
    transition: .3s ease;

}
.card-img img:hover{
    transform: scale(1.05);
}
.card-img h3{
    margin-bottom: 5px;
}
#faq h2{
    float: left;
    margin: 20px;
    font-size: 30px;
}
#help{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 115px;
}
.questions{
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    align-items: start;
}
.questions-btn{
    background-color:coral;
    width: 100%;
    margin: 2px 0px;
    height: 56px;
    transition: .3s ease;
    cursor: pointer;
}
.questions-btn:hover{
    background-color: rgb(224, 196, 184);
    color: black;
}
.writeup{
    float: left;
}
.fa-angle-down{
    float: right;
    margin-right: 25px;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #fc8019;
    color: white;

}
.space{
    display: flex;
    width: 371px;    
}
#gap{
    color: transparent;
}
#cart-page.active{
   right: 0;
}
#cart-page{
    position: fixed;
    top: 102px;
    right: -100%;
    transition: .5s ease;
    width: 70%;
    height: 100vh;
    background: white;
    display: flex;
    z-index: 4;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#cartItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 57vh;
    overflow: auto;
    margin: 10px;
}
.foot{
    display: flex;
    width: 95%;
    justify-content: space-between;
    border: 2px solid coral;
    border-radius: 8px;

}
.foot h3{
    margin: 10px;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 18px;
    border-radius: 30px;
    box-shadow:11px 11px #fde4e4;
    border: 2px solid #fde4e4;
    transition: .3s ease;
}
.cart-item:hover{
    background-color: #fde4e4;
}
.rowimg{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 5px 8px;
}
.fa-trash{
    margin: 0px 10px;
}
.cart-item p{
    width: 100px;

}
#in-dec{
    display: flex;
    justify-content: space-between;
    width: 50px;


}
#in-dec p{
    width: auto;
}
.head{
    background: coral;
    width: 95%;
    height: 10%;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;

}
@media (Max-width:800px){
    .linkitem img{
        width: 80px;
        height: 80px;
    }
    .card-img{
        margin: 2px 12px;
    }
    .head{
        height: 5%;
        font-size: 20px;
        margin: 7px;
    }
    .rowimg{
        width: 65px;
        height: 65px;
    }
    .fa-trash{
        font-size: 17px;
    }
    #in-dec{
        font-size: 17px;
    }
    .foot h3{
        font-size: 17px;
        margin: 5px;
    }
    .foot{
        margin-top: 30px;
    }
    #cartItem{
        height: 63vh;
    }
}
@media (max-width:600px){
    .menu-list{
        overflow-x: auto;
        display: -webkit-box;
        padding: 5px 25px;
    }
    #cart-page{
        width: 100%;
    }
    .linkitem{
        margin: 0px 10px;

    }
    #home{
        padding-top: 100px;
    }
    .about-card{
        flex-direction: column;
    }
    .card-img{
        margin:7px 60px ;

    }
    .card-img img{
        width: 85%;
        height: 85%;

    }
    #icon{
        display: block;
    }
    nav ul{
        display: none;
    }
    nav .toggle-btn{
        display:block;
        font-size: 1.5rem;
    }
    #toggle{
        margin-left: 70px;
        height: 60px;
        cursor: pointer;
    
    }
    #toggle::before{
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        background-color:white;
        transform: translateY(25px);
        transition: .2s;
        border-radius: 5px;
    }
    #toggle::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        background-color:white;
        transform: translateY(35px);
        transition: .2s;
        border-radius: 5px;
    }
    #toggle.active::before{
        transform:translateY(30px) rotate(45deg);

    }
    #toggle.active::after{
        transform:translateY(30px) rotate(-45deg);

    }
    #dropdown-menu{
        position: fixed;
        top: -100%;
        width:70%;
        height:40vh;
        z-index: 1;
        background-color:orange;
        transition: .5s;
        display:flex;
        flex-direction: column;
        text-align: center;

    

    }
    #dropdown-menu.active{
        top: 102px;
    }
    #dropdown-menu li{
        margin: 1px 0px;
        height: 50px;
        line-height: 50px;
        transition: .3s ease;
        color: white;
        font-size: 20px;
    }
    #dropdown-menu li:hover{
        background-color: rgb(234, 225, 225);

    }
   
   
}
@media (max-width:470px){
    .img-box img{
        width: 110px;
        height: 110px;
        margin: 8px 22px;

    }
    #item-menu{
        width: 75%;
    }
    .box{
        margin: 5px 10px;
    }
    button{
        margin: 8px;
        padding: 2px 5px;
    }
    .bottom h2{
        font-size: 20px;
    }
    #root{
        top: 346px;
    }
    #top-logo{
        font-size: 14px;
    }
    .cart{
        font-size: 21px;
        width: 63px;
        height: 31px;
    }
    .questions-btn{
        font-size: 14px;
    }
    #logo-bottom{
        font-size: 14px;
        margin: 0px 5px;
    }
    #name-bottom h3{
        font-size: 17px;
    }
    #logo-bottom img{
        width: 85px;
        height: 65px;
    }
    #icon-bottom{
        margin: 0px 5px;
    }
  
}

